<div class="center">
<mat-card *ngFor="let job of jobs" class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{job.title}}</mat-card-title>
      <mat-card-subtitle>Hyla Mobile</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
       {{job.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Delete</button>
      <button mat-button>Edit</button>
    </mat-card-actions>
  </mat-card>

  <div class="btn-center">
    <button class="btn" mat-raised-button color="primary" (click) = "openJobDialog()">Add</button>
  </div>

</div>

<ng-template class="template" #add>
    <h2 matDialogTitle>Add New Job</h2>
    <mat-dialog-content>
        <div>
            <p>Title</p>
            <input class="input" [(ngModel)] = "title" />
        </div>
        <div>
            <p>Description</p>
            <textarea [(ngModel)] = "description" class="textarea">Enter Description... </textarea>
        </div>
        <div>
            <p>Minimum Salary</p>
            <input class="input" [(ngModel)] = "minWage"/>
        </div>
        <div>
            <p>Maximum</p>
            <input class="input" [(ngModel)] = "maxWage" />
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button (click)="addJob()" >Save</button>
      <button mat-button matDialogClose color="primary">Close</button>
    </mat-dialog-actions>
  </ng-template>