<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <!-- <mat-icon >menu</mat-icon> -->
      </button>
      <h1>EzHire</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button routerLink="/user/job-listing"> Jobs</a>
        <a mat-button routerLink="/user/resume"> Resume </a>
        <a mat-button routerLink="/user/applied-jobs"> Applied Jobs </a>
        <a mat-button (click)="logout()"> Logout </a>
        <!-- <a mat-button [routerLink]="">  </a> -->
      </div>
    </mat-toolbar-row>
<!--   
    <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
      </mat-toolbar-row> -->
  </mat-toolbar>